@import "./src/global.scss";

.about{
    margin-top: 70px;
    background-color: #e2e5e8;
    background-image: linear-gradient(to right, white, #bdbdbd);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:  column;
    //align-items: center;
   
     @include mobile {
         flex-direction: column;
         //flex-direction: column-reverse;
        // align-items: center;
     }
     h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      //border-left: 5px solid #a10e06;
      padding-left: 5px;
      font-size: 40px;
      @include mobile{
          font-size: 25px;
      }
      
      &::before {
        content: "|";
        color:#a10e06;
        font-size: 50px;
        font-weight: 500;
       padding-right: 5px;
       @include mobile{
           font-size: 30px;
       }
    }
  }
    .title{
      align-items: center;
      overflow-x:visible !important;
      justify-content: flex-start;
      //background-color: crimson;
      @include mobile{
        display: none;
      }
        h2 {
            //margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 30px;
            font-size: 40px;
            @include mobile{
                font-size: 28px;
            }
        }
    }
    .content{
          display: flex;
          align-items:stretch;
          align-content:center;
          justify-content: center;
          width:100%;
          height:100%;
          //background-color: red;
            
          @include mobile {
            overflow-x:visible !important;
            padding-top: 8px;
            //flex-direction: column;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
          }

        .right {
          flex: 1;
          overflow: hidden;
          //background-color: yellow;
          display: flex;
          align-items: flex-end;
         
          @include mobile{
              flex: 0.2;
              align-items: flex-end;
          }
          .imgContainer {
            // background-color: yellow;
            flex-shrink: 0;
            width: 650px;
            height: 650px;
            background-color: none;
            display: flex;
            align-items: flex-end;
            //justify-content: center;
                             
            @include mobile{
              border-radius: 50%;
              width: 80px;
              height: 80px;
              overflow: hidden; 
              justify-content: center;
              align-items: flex-start;
              border: 3px solid #eb4781;
             }
      
            img {
              height: 95%;
              
              @include mobile{
                height:150%;
                flex-shrink: 0;
              }
            }
          }
        }
        .left {
          //background-color: #eb4781;
          flex: 1;
          display: flex;
         // flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow-x:visible !important;
          & *{
            overflow-x:visible !important;
          }

          .wrapper {
            width: 100%;
            height: 100%;
            padding: 0 15px 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
           // background-color: green;
            
            
            @include mobile{
              padding-top: 20px;
              width:100%;
              align-items: flex-start;
              justify-content: flex-start;
             // background-color: blue;
            }
            
            p{
              //background-color: red;
              color:$mainFontColor;
              //width: 90%;
              text-align: left;
              padding-bottom: 15px;
              font-size: 16px;
              font-weight: 500;
              @include mobile{
                  font-size: 12px;
                  text-align: left;
                  font-weight: 500;
                  padding-bottom: 3px;
              }
             }

            .OtherInfo{
               display: flex;
               align-items: flex-start;
               justify-content:flex-start;
               padding-top: 15px;
               @include mobile {
                padding-top: 5px;
                flex-direction: column;
                align-items: flex-start;
              }
            
               .Edu{
                 flex:1;
                 color:$sectionFontColor;
                 font-size: 20px;
                 font-weight:700;
                 @include mobile{
                     font-size: 13px;
                     font-weight:700;
                }
                 ul{
                    margin:0;
                    padding: 0;
                    font-size: 15px;
                    font-weight:700;
                    @include mobile{
                      font-size: 12px;
                    }

                    li{
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      margin:8px 0 8px 0;
                      @include mobile{
                        font-size: 12px;
                      }
                      span{
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        font-weight:500;
                        @include mobile{
                          font-size: 12px;
                        }
                      }
                      div{
                        padding-left:32px;
                        font-weight:500;
                        @include mobile{
                          font-weight:400;
                          padding-left:22px;
                        }
                      }
                      img{
                        //overflow-x:visible !important;
                        padding-right:8px;
                        @include mobile{
                          //display: none;
                          width:16px;
                          height:16px;
                        }
                      }
                    }
                 }
               }
               .Interest{
                    //overflow-x:visible !important;
                    flex:1;
                    color:$sectionFontColor;
                    font-size: 20px;
                    font-weight:700;
                    @include mobile{
                      font-size: 13px;
                      font-weight:700;
                    }
                    ul{
                      margin:0;
                      padding-left: 15px;
                      font-size: 15px;
                      font-weight:500;
                      list-style-position: outside;
                      @include mobile{
                        font-size: 12px;
                      }
                      li{
                          //overflow-x:visible !important;
                          display: list-item;
                           margin:5px 0 5px 0;

                          @include mobile{
                            font-size: 12px;
                            margin:2px 0 0px 0;
                          }
                        }
                    }
              }
           

            }
           
           } // wrapper end
          
        } //left end
    } // content end
    .bottomBar{
        
        box-shadow: inset 0 0 8px #c9c9c9;
        width: 100%;
        height:8%;
        background-color: #fafafa;
        padding-left:15px;
        font-size: 14px;
        font-weight: 400;
        color:#3a7dbd;
        
        @include mobile{
          font-size: 8px;
        }

        .contactMethod{
          //background-color: green;
           display: flex;
           width: 100%;
           height: 100%;
           align-items: center;
           justify-content: flex-start;
              
           span{
             padding:0 45px 0 8px;
           }
 
           a{
             font-size: 15px;
             font-weight: 700;
             text-decoration: none;
             &:hover{
               color:#ec841e;
             }
           }
           .email{
             color:#ca213e;
           }
           
           .linkedin{
             color:#3a7dbd;
           }
        }
    }   
    
}