@import "./src/global.scss";

.intro{
    //background-color: #e2e5e8;
    background-color: #f0f1f1;
    display: flex;
    //gap: 1.5rem;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex:1;
        width:100%;
        overflow: hidden;
        //background-color: blue;
        //position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex:0.6;
            align-items: flex-start;
        }           


        .ukBg{
            position: absolute;
            width:50%;
            height: 100%;
            clip-path: polygon(75% 0, 100% 0, 25% 50%, 100% 100%, 75% 100%, 0 50%);
            //clip-path: polygon(0% 0%, 0 100%, 11% 100%, 11% 60%, 100% 100%, 100% 90%, 26% 60%, 100% 60%, 100% 40%, 27% 40%, 100% 10%, 100% 0, 11% 40%, 11% 0);
            background-color: crimson;
            z-index: 0;
           // transform: scaleX(-1);
           transform:rotate(180deg);

            @include mobile{
                display: none;
               //top:-200px;
               //transform:rotate(-90deg);
            }

        }

        .imgContainer{
            margin-top:40px;
            width: 650px;
            height: auto;
            background-color: gray;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            //float: right;
           // right: 50%;
           // left: auto;
            position:relative;
            z-index: 1;
           
            @include mobile{
                align-items: flex-start;
                float: right;
                right: auto;
                left: auto;
                position: relative;
              //  min-height: 325px;
            }

            img{
                height: 100%;
                @include mobile{
                    height:70%;
                }
            }
        }
    }

    .right{
       
        flex:1;
        position: relative;
        overflow-x:visible !important;
        background-image: url('/uk.png');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: green;

        @include mobile{
            align-items: flex-start;
        }           


        .wrapper{
            
            width: 98%;
            height: auto;
            padding: 0 25px 0 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            //background-color: red;
            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            

            h1{
                width:100%;
                color:#343434;
                font-size: 60px;
                margin:10px 0;
                border-bottom: 3px solid #b00000;
                @include mobile{
                    width:auto;
                    margin:2px 0;
                    font-size: 35px;
                }
            }
            h2{
                color:#515151;
                font-size: 35px;
                font-weight: 500;
                @include mobile{
                    padding-top:5px;
                    font-size: 24px;
                }
            }
            h3{
                font-size: 30px;
                font-weight: 300;
                @include mobile{
                    font-size: 18px;
                }
                span{
                     font-size: inherit;
                     color:#fd7d00;
                     font-weight: 400;
                }
            }

            h4{
                padding-top: 10px;
                //padding-right: 30px;
                //width: 450px;
                overflow: hidden;
                font-size: 16px;
                font-weight: 400;
                @include mobile{
                    font-size: 12px;
                    text-align: left;
                    font-weight: 500;
                    padding-left: 20px;
                    //padding-right: 0;
                }
            }

            .ityped-cursor {
                animation: blink 1s infinite;
            }

            @keyframes blink {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
                
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
        
    }
}